.contactContainer{
    width: 100%;
}

.contactCard{
    width: 65%;
    margin: 0 auto;
    position: relative;
}

.contactCard img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.formArea{
    position: absolute;
    width: 40%;
    left: 6rem;
    top: 10rem;
}

.formArea p{
    margin: 1rem .5rem 2rem .5rem;
    width: 85%;
}

.formContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.formContainer input{
    width: calc(50% - 1rem);
    margin: .5rem;
    height: 3rem;
    border: none;
    outline: none;
    padding: 1rem 1rem;
    background-color: #e8eafe;
    border-radius: 5px;
}

.formContainer input:nth-of-type(5){
    width: calc(100% - 1rem);
    margin: .5rem;
    height: 3rem;
    border: none;
    outline: none;
    padding: 1.1rem 1rem;
    background-color: #c6cafc;
}

.formContainer input:last-of-type{
    width: calc(100% - 1rem);
    margin: .5rem;
    height: 3rem;
    border: none;
    outline: none;
    padding: 1.3rem 1rem;
    background-color: #a3abfa;
}

.formContainer input::placeholder{
    font-size: .85rem;
    font-family: inherit;
    color: #313cf5;
}

.formContainer input:hover{
    border-bottom: 4px solid transparent;
}

.formContainer button{
    display: block;
    padding: .75rem 2.5rem;
    border-radius: 2rem;
    text-align: center;
    background-color: #1a2df3;
    margin: 2rem auto;
    font-size: 1rem;
    transition: background-color .4s ease;
    color: #ffffff;
}

.footer{
    text-align: center;
    margin: 5rem auto 0 auto;
}

.links a{
    margin: .5rem;
}

.footer p{
    font-weight: 500;
    margin: .75rem 0;
}